* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
a:active {
    color: red;
}
body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    background: #0B1D26 ;
    color: white;
    min-height: 100vh;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 64px 80px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    outline: 2px solid red;
}
.header_logo {
    font-size: 32px;
    line-height: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.header_nav, .header_account {
    font-weight: 700;
}
.nav_link {
    margin:0 20px ;
}
.hero {
    height: 1800px;
    background: gray;
    background-image:  
    linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%),
    linear-gradient(15deg, rgba(11,29,38,1) 0%, rgba(11,29,38,0) 100%),
    url(img/VG.png),
    url(img/MG.png),
    url(img/HG.png);
    

    background-repeat: no-repeat;

    background-position: center, center, bottom, bottom, top;

    padding: 150px 0;

   
}
.mount {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        position: absolute;
        width: 950px;
        height: 310px;
        left: 500px;
        top: 287px;
}
.conteiner {
    height: 1000px;
}
.title {
    font-size: 18px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 22px;

    width: 900px;
    margin: 200px auto;
    
}
.title1 {
    width: 950px;
    margin: 200px auto;

    font-weight: 600;
    font-size: 88px;
    line-height: 100px;

}
.scroll {
    font-size: 12px;
    margin: 200px auto;
}
    
